$textColor : white;
$subtitle : italic;
$width : 100%;

@media screen and (max-width: 769px){

    body{
        width : $width;
        margin : 0px;
        padding : 0px;
        color : $textColor;
        }

    #search_bar{
	   margin-top: 10px;
        margin-bottom: 10px;
        }

    /*réorganisation zone search bar*/
    .trait_vertical{
        display:none;
    }

    .fcl1,.club21{
        margin-bottom: 10px;
    }
    .search{
        margin-left: 25px;
    }


    .container_blue{
        background-image: url("photos/fond.jpg");
        background-size: cover;
        padding: 30px;
    }

    #titre_h4{
        text-align: left;
        padding-left: 10%;
        font-style: $subtitle;
        font-weight: 100 !important;
    }

    #titre_h1{
        text-align: right;
        padding-right: 20%;
        margin-top: 20px;
    }


    #photos_texte{
	   padding: 20px;
	}

    #carousel, #texte {
        display: inline-block;
    }

    #myCarouselphotos{
        width : $width;
        height: auto;
        margin-left: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .carousel-inner{
        position: relative;
        width: 90%;
        overflow: hidden;
    }

    .carousel-inner img {
        max-width: 120px;
        max-height: 220px;
    }

    .active{
      	display: inline-block;
    }

    /*image délimitant le carousel des logos ne s'affichera pas*/
    .ligne_horizontale{
        display: none;
    }


    #logo-slide{
	    margin: 3%;
        width : $width;
        height: 90px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    #logo-slide img{
        width: 130px;
    }


    #footer{
        text-align: center;
     }

    #nav, #footer{
        background: #4a95ce !important;
    }
}